body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

.user-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}


table, td, th {
    margin-top: 30px;  
    border: 1px solid black;
    font-size:20px;
    text-align: left;
  }
  
  table {
    margin-left: 120px;
    border-collapse: collapse;
    width: 80%;
    background-color:  rgb(224, 199, 224);
  }
  
  th, td {
    padding: 15px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  #search-form, #issue-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: inline-block;
}

#results {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: none;
}

.button1 {border-radius: 4px;
    background-color: #165896; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}